#main {
  margin: 0;
  min-width: 250px;
}

* {
  box-sizing: border-box;
}

ul {
  margin: 0;
  padding: 0;
}

ul li {
  cursor: pointer;
  position: relative;
  padding: 12px 8px 12px 40px;
  list-style-type: none;
  background: #eee;
  font-size: 18px;
  transition: 0.2s;

  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
  border-bottom: 1px solid darkgrey;
  font-family: "Comic Sans MS";
}

#add_update_btn {
  padding: 10px;
  margin: 10px;
  cursor: pointer;

  border-radius: 0;

  text-align: center;
  transition: 0.3s;
  font-family: "Comic Sans MS";
}

#add_update_btn {
  padding: 15px;
  width: 15%;
  background: #d9d9d9;
  color: #555;
  float: left;
  text-align: center;
  font-size: 16px;
  cursor: pointer;
  transition: 0.3s;
  border-radius: 0;
  outline: 1px solid darkslategray;
}

input {
  margin: 10px;
  border: none;
  border-radius: 0;
  width: 50%;
  padding: 15px;
  float: left;
  font-size: 16px;
  outline: none;
  margin-left: 240px;
  font-family: "Comic Sans MS";
}

#add_update_btn:hover {
  background-color: #bbb;
}

.header:after {
  content: "";
  display: table;
  clear: both;
}

.header {
  background-color: #ff5959;
  padding: 30px 40px;
  color: white;
  text-align: center;
}

h2 {
  font-size: 40px;
  font-family: "Comic Sans MS";
}

ul li:hover {
  background: #ddd;
}

ul li.checked {
  background: #888;
  color: #fff;
  text-decoration: line-through;
}

ul li.checked::before {
  content: "";
  position: absolute;
  border-color: #fff;
  border-style: solid;
  border-width: 0 2px 2px 0;
  top: 10px;
  left: 16px;
  transform: rotate(45deg);
  height: 15px;
  width: 7px;
}

#close {
  position: absolute;
  right: 0;
  top: 0;
  padding: 12px 16px 12px 16px;
}

#close:hover {
  background-color: lightblue;
  color: white;
  border-bottom: 1px solid darkgrey;
}

#edit {
  position: absolute;

  right: 45px;
  top: 0;
  padding: 12px 16px 12px 16px;
}

#edit:hover {
  background-color: lightblue;
  color: white;
}

#up {
  position: absolute;

  right: 95px;
  top: 0;
  padding: 12px 16px 12px 16px;
}

#up:hover {
  background-color: lightblue;
  color: white;
}

#down {
  position: absolute;

  right: 145px;
  top: 0;
  padding: 12px 16px 12px 16px;
}

#down:hover {
  background-color: lightblue;
  color: white;
}
